<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show Campground</title>
</head>
<body>
  <h1>Show Campground</h1>
  <ul>
    <li>The campground name is <%= campground.title %></li>
    <li>That campground is located in <%= campground.location %></li>
  </ul>
  <a href="/campgrounds">Back to All Campgrounds</a>
  <a href="/campgrounds/<%= campground._id %>/edit">Edit Campground</a>
  
</body>
</html>