<% layout('layouts/boilerplate') %>
<h1>Show Campground</h1>
<ul>
  <li>The campground name is <%= campground.title %></li>
  <li>That campground is located in <%= campground.location %></li>
</ul>
<a href="/campgrounds">Back to All Campgrounds</a>
<a href="/campgrounds/<%= campground._id %>/edit">Edit Campground</a>
<form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
  <button type="submit">Delete</button>
</form>
